/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.react-flow__handle {
  display: none;
}

.border-btn-control {
  @apply border border-solid border-[#eee];
}

.ant-input-number {
  width: 100%;
}
